.main{
    height: 92vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    /* border: 1px red solid; */
    color: white;
   font-size: 30px;
   height: 20rem;
   font-family: 'Castoro Titling', cursive;
   margin-right: 3rem;
}
.container {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    .getstart{
        border-radius: 15px;
        height: 3rem;
        width: 10rem;
        font-size: 20px;
        font-weight: 700;
        border: none;
        box-shadow: 1px 1px 7px 1px white;
    }
    .getstart:hover{
        background-color: aqua;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
    @media (max-width:500px){
        .main{
            display: flex;
            flex-direction: column;
        }
    }
