.main{
    color: white;
    cursor: pointer;
}
.image{
    height: 25px;
    margin-left: 2rem;
}
.links{
    margin-right: 2rem;
}
.opt:active{
color: red;
}
.opt{
    text-decoration: none;
    color: white;
}
.opt:hover{
color: blue;
}
.dropdown{
    display: none;
}

@media (max-width:700px){
    .opt{
        display: none;
    }
    .dropdown{
        display: unset;
        margin-right: 3rem;
    }
}