.main{
    background-color: black;
    height: 100vh;
    color: white;
    display:flex ;
    flex-direction: column;
    align-items: center;
}
.image{
    height: 29.5rem;
   width: 39.8rem;
}
.imgContainer{
    border: 2px white  dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 33rem;
    margin-top: 1rem;
}
.nav{
    width: 100vw;
}
.uploadblock{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    height: 2rem;
}
.container{
    /* border: 2px red solid; */
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
}
.form{
    /* border: 2px green solid; */
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 33rem;
    padding: 1rem;
    row-gap: 1rem;
}
.form textarea{
    height: 8rem;
    outline: none;
    font-weight: 700;
    font-size: medium;
    padding: 0.5rem;
}
.form input{
    outline: none;
    font-weight: 700;
    font-size: medium;
    padding: 0.5rem;
}
.submit{
    width: 8rem;
    height: 3rem;
    border-radius: 15px;
    margin-top: 2rem;
}
.submit:hover{
    background-color: aqua;
}

.container {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 
  @media (max-width:900px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .imgContainer{
        border: 2px white  dotted;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40rem;
        height: 33rem;
        margin-top: 20rem;
    }
    .main{
        background-color: black;
        height: 150vh;
        flex-wrap: wrap;
    }

}
  @media (max-width:658px){
    html{
        font-size: 8px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .imgContainer{
        border: 2px white  dotted;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40rem;
        height: 33rem;
        margin-top: -3rem;
    }
    .main{
        background-color: black;
        height: 150vh;
        flex-wrap: wrap;
    }

  }
